<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.grey {
			background: grey;
		}

		.yellow {
			background: yellow;
		}

		.pink {
			background: pink;
		}

		.blue {
			background: blue;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">
	<span @mouseover="changeText">Text</span>
	<p>{{ title }}</p>
	<p :class="styleCSS">Цвет: {{ styleCSS }}</p>
	<input type="text" v-on:input="styleCSS = $event.target.value">
	<br/>
	<br/>
	<p v-if="show">Текст1</p>
	<p v-else> Текст2</p>
	<button v-on:click="show = !show">Скрыть / Показать</button>
	

	<ul>
		<li v-for="(car, i) in cars">{{ i + 1 }} - {{ car.model }}, speed: {{ car.speed }}</li>
	</ul>
</div>
	
<script>
	new Vue ({
		el: '#app',
		data: {
			title: "Title title title",
			styleCSS: '',
			show: false,
			cars: [
				{model: "BMW", speed: 250.8},
				{model: "Audi", speed: 230.8},
				{model: "Mers", speed: 220.8},
				{model: "Ford", speed: 210.8},
			]
		},
		methods: {
			changeText () {
				this.title = "New text"
			}
		}
	})
</script>

</body>
</html>