<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.grey {
			background: grey;
		}

		.yellow {
			background: yellow;
		}

		.pink {
			background: pink;
		}

		.blue {
			background: blue;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">

	<button v-on:click="show = !show">Скрыть / Показать</button>
	<p v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, blanditiis?</p>
	<p v-else> {{ message | lowercase | capatalize }}</p>
	

	<ul>
		<li v-for="(car, i) in cars">{{ i + 1 }} - {{ car.model }}, speed: {{ car.speed }}</li>
	</ul>
</div>
	
<script>

	Vue.filter ('capitalize', function(value) {
		if(!value) return ''
		value = value.toString()
		return value.replace(/\b\w/g, function(l) {return l.toUpperCase() })
	});


	new Vue ({
		el: '#app',
		data: {
			message: "Hello Vue",
			show: false,
			cars: [
				{model: "BMW", speed: 250.8},
				{model: "Audi", speed: 230.8},
				{model: "Mers", speed: 220.8},
				{model: "Ford", speed: 210.8},
			]
		},
		computed: {
			showMess(){
				return this.message.toUpperCase()
			}
		},
		filters: {
			lowercase (value){
				return value.toLowerCase()
			}
		}
	})
</script>

</body>
</html>